.video_container{
    width: 50%;
    height: 70%;
    margin: auto;
}
#about .row{
    
}
#about{
    text-align:center;
    padding: 50px 0 90px;
    height:70%;
    background-color:white;
}
.main_background{
    position:absolute;
    width:100%;
    height:100%;
    filter:brightness(50%);
}
.main_logo{
    width:200px;
}
.how_to_use{
    font-size:22px;
}
#contact{
    background-color:#EBEBEB;
}
.problem{
    font-size:25px;
}
#services{
    font-weight:300;
    padding:100px 0px 100px;
    background-color:black;
}
.expectation{
    color:white;

}
.start{
    width:80px;
    margin-bottom:20px;
}
.spoon{
    width:135px;
}
.together{
    width:120px;
}
#contact{
    color:white;
    padding:120px 0px 70px;
    background-color:black;
}
.icon{
    color: white;
}
.expec_img{
    width: 110px;
    margin-bottom:30px;
}
.last{
    width:90px;
    margin-bottom:30px;
}
.last_word{
    margin-bottom:50px;
}
.phone, .start, .broom, .shout{
    border: 3px solid #86C540;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 50%;
}
iframe{
    margin-top:60px;
    width:100%;
    height:100%;
}
@media screen and (max-width: 500px) {
    #about{
        height:100%;
    }
    .video_container{
        width:100%;
    }
}
